
@font-face {
    font-family: 'palitoon';
    src: url('fonts/palitoon.otf')
}

@font-face {
    font-family: 'Aller';
    src: url('fonts/Aller.ttf')
}

@font-face {
    font-family: 'Aller_Lt';
    src: url('fonts/Aller_Lt.ttf')
}

@font-face {
    font-family: 'Fastup400';
    src: url('fonts/Fastup400.ttf')
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('fonts/Montserrat-Light.ttf')
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('fonts/Montserrat-Medium.otf')
}
@font-face {
    font-family: 'Montserrat-Black';
    src: url('fonts/Montserrat-Black.ttf')
}

@font-face {
    font-family: 'BebasNeue-Regular';
    src: url('fonts/BebasNeue-Regular.ttf')
}

@font-face {
    font-family: 'Buchery';
    src: url('fonts/Buchery.ttf')
}

@font-face {
    font-family: 'Bellefair-Regular';
    src: url('fonts/Bellefair-Regular.ttf')
}

@font-face {
    font-family: 'SFPRODISPLAYREGULAR';
    src: url('fonts/SFPRODISPLAYREGULAR.otf')
}

@font-face {
    font-family: 'SFPRODISPLAYBOLD';
    src: url('fonts/SFPRODISPLAYBOLD.otf')
}

@font-face {
    font-family: 'SFPRODISPLAYMEDIUM';
    src: url('fonts/SFPRODISPLAYMEDIUM.otf')
}


